/*
File Name: index.css
Name: Janakan Sivananthan
Student Id: 301048429
Date: June 4 2021
*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h3, p {
  text-align : center;
}

.listContainer{
  display : inline;
  text-align : center;
}

