<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/index.css' />
    <link rel='stylesheet' href='/bootstrap/dist/bootstrap.min.css' />
    <link rel='stylesheet' href='/fortawesome/fontawesome-free/all.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nice to meet you! My name is Janakan Sivananthan and I was born on June 19th 1995.
     I am currently working towards my Software Engineering Technician Diploma and have picked up a lot of
     fundamental skills in the field of software engineering.</p>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/css/bootstrop.min.js"></script>
  </body>
</html>
