<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/contact.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi</p>
    <form>
        <label>Name:</label> 
        <br>
        <input id='name' placeholder='Name' type='text'>
        <br>
        <label>Email</label> 
        <br>
        <input id='email' placeholder='Email' type='email'>
        <br>
        <label>Phone Number</label> 
        <br>
        <input id='phone' placeholder='Phone Number' type='tel'>
        <br>
    </form>
    <p>Hello</p>
  </body>
</html>
