<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/contact.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi</p>
    <form>
        <label>Name:</label>
        <input id='name' placeholder='First Name'>
        <br>
    </form>
    <p>Hello</p>
  </body>
</html>
