<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/Content/index.css' />
</head>
<body>
  <h1><%= title %></h1>
  <br>
  <div>
    <p>Nice to meet you! Welcome to my homepage where you will find the skills and services
      I offer in a multitude of programming languages. Hope you find your stay welcoming and
      rewarding! To learn more about myself, please visit the <a href="about"> about me</a> page.
    </p>
  </div>
  <br>
  <h3>Mission Statement:</h3>
  <br>
  <p>Be a better version of yourself compared to yesterday.</p>
</body>
</html>
