<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/style.css' />
  </head>
  <body>
    <h1><Welcome to %= title %'s home page ></h1>
  </body>
</html>
