<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/index.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %>'s HomePage</h1>
  </body>
</html>
