<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Skill Sets:</h3>
    <li>C# programming</li>
    <li>SQL Programming</li>
    <li>Java Programming</li>
    <li>HTML, CSS, JavaScript</li>
    <li>Client-side Web Development</li>
    <li>Server-side Web Development</li>
    <li>C# programming</li>
    <li>C# programming</li>
  </body>
</html>
